# llama-recipes
torch>=2.0.1
accelerate
appdirs
loralib
bitsandbytes
datasets
fire
peft==0.9
transformers==4.40
sentencepiece
py7zr
scipy
optimum
matplotlib
gradio
wandb
# rtfm
scikit-learn
pandas
numpy
lightgbm
xgboost
xport
tqdm
h5py
tables
datasets
more-itertools
kaggle
openpyxl
pynvml
torchinfo
torchmetrics
ipdb
ray
fairlearn
frozendict
folktables
ninja
einops
s3fs
webdataset
ucimlrepo
tabpfn
gradio
setuptools=
catboost
nltk
